* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 1.1em;
  letter-spacing: -.035em;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 12px;
}

.link-back {
  padding-bottom: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #333;
  font-weight:500;
}

a:visited {
  color: #aaa;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.palette {
  flex-basis: 266px;
  max-width: 266px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  line-height: 1;
  font-size: 1rem;
  color: #000;
  margin-bottom: 48px;
}

.tone {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 2.8rem;
  padding: 14px;
  cursor: pointer;
  transition: all 0.3s;
  height: 100%;
}

.tone:hover {
  padding: 24px 14px;
}

.value {
  font-family: monospace;
}